.hero-container {
    background-image: url('./img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-bottom: 20px;

}

.hero-container h2 {
    padding: 100px;
    font-size: 50px;
    font-weight: bold;
    color: blue;
}