.quizes-container {
    border: 1px solid gray;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.quiz-question {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.quiz-question h2 {
    font-size: 30px;
    font-weight: bold;
}

.quiz-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.options {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid greenyellow;
    margin-left: 20px;
    margin-right: 20px;
}

.option {
    margin-left: 20px;
}

.options:hover {
    background-color: greenyellow;
    border-radius: 10px;
}