.category {
    width: 350px;
    margin-left: 60px;
    padding: 20px;
    background-color: green;
    color: white;
    border-radius: 10px;
}

.category img {
    width: 300px;
}

.category-detail {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.start-btn {
    background-color: blue;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    text-decoration: none;
}