.category-container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 10px;
  padding-left: 60px;

}

@media screen and (max-width: 580px) {
  .category-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width:581px) and (max-width: 980px) {
  .category-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}